/* RadButton Metro Skin */

.RadButton_cloud.rbSkinnedButton,
.RadButton_cloud .rbDecorated,
.RadButton_cloud .rbSecondaryIcon,
.RadButton_cloud.rbVerticalButton,
.RadButton_cloud.rbVerticalButton .rbDecorated
{
	background-image: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0)
{
    a.RadButton_cloud.RadButton input.rbDecorated,
    a.RadButton_cloud.RadButton input.rbDecorated,
    a.RadButton_cloud.RadButton input.rbDecorated:active,
    a.RadButton_cloud.RadButton input.rbDecorated:focus
    {
    	background-color: transparent;
    	border: 0 none;
    }
}

/*Simple Split Button Overrides*/
.RadButton_cloud .rbSplitRight,
.RadButton_cloud .rbSplitLeft
{
	background-image: url('Button/ButtonSprites.gif');
}

.RadButton_cloud .rbSplitRight,
.RadButton_cloud.rbLinkButton .rbSplitRight
{
	background-position: 0 0;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
}

.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitRight
{
	background-position: 0 0;
}

*html .RadButton_cloud .rbSplitRight
{
	right: -1px;
}

*html .RadButton_cloud.rbDisabled .rbSplitRight
{
	right: 0;
}

.RadButton_cloud.rbLinkButton .rbSplitRight
{
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
}

.RadButton_cloud .rbSplitRight:hover,
.RadButton_cloud.rbLinkButton .rbSplitRight:hover
{
	background-color: #e5e5e5;
	border-left: 1px solid #e5e5e5;
	background-position: -19px 0;
}

.RadButton_cloud .rbSplitRight:focus,
.RadButton_cloud .rbSplitRight:active,
.RadButton_cloud.rbLinkButton .rbSplitRight:focus,
.RadButton_cloud.rbLinkButton .rbSplitRight:active
{
	background-color: #25a0da;
	border-left: 1px solid #e5e5e5;
}

.RadButton_cloud .rbSplitLeft,
.RadButton_cloud.rbLinkButton .rbSplitLeft
{
	background-position: 0 0;
	border-right: 1px solid #e5e5e5;
}

.RadButton_cloud.rbLinkButton .rbSplitLeft
{
	background-color: #fff;
	border-right: 1px solid #e5e5e5;
}

.RadButton_cloud .rbSplitLeft:hover,
.RadButton_cloud.rbLinkButton .rbSplitLeft:hover
{
	background-color: #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-position: -19px 0;
}

.RadButton_cloud.rbDisabled .rbSplitLeft,
.RadButton_cloud.rbDisabled .rbSplitLeft:hover,
.RadButton_cloud.rbDisabled .rbSplitLeft:focus,
.RadButton_cloud.rbDisabled .rbSplitLeft:active,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft:focus,
.RadButton_cloud.rbDisabled .rbSplitRight,
.RadButton_cloud.rbDisabled .rbSplitRight:hover,
.RadButton_cloud.rbDisabled .rbSplitRight:focus,
.RadButton_cloud.rbDisabled .rbSplitRight:active,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitRight,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitRight:hover,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitRight:active,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitRight:focus
{
	background-color: transparent;
	background-position: 0 0 !important;
}

/* Needed fo IE6 */
*html .rbDisabled .rbSplitRight,
*html .rbDisabled .rbSplitRight:hover,
*html .rbDisabled .rbSplitRight:focus,
*html .rbDisabled .rbSplitRight:active,
*html .rbDisabled .rbSplitLeft,
*html .rbDisabled .rbSplitLeft:hover,
*html .rbDisabled .rbSplitLeft:focus,
*html .rbDisabled .rbSplitLeft:active
{
	background-position: 0 0 !important;
}

.RadButton_cloud.rbDisabled .rbSplitLeft,
.RadButton_cloud.rbDisabled .rbSplitLeft:hover,
.RadButton_cloud.rbDisabled .rbSplitLeft:focus,
.RadButton_cloud.rbDisabled .rbSplitLeft:active,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft:hover,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft:active,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitLeft:focus
{
	border-right: 1px solid #e5e5e5;
}

.RadButton_cloud.rbDisabled .rbSplitRight,
.RadButton_cloud.rbLinkButton.rbDisabled .rbSplitRight
{
	border-left: 1px solid #e5e5e5;
}

.RadButton_cloud .rbSplitLeft:focus,
.RadButton_cloud .rbSplitLeft:active,
.RadButton_cloud.rbLinkButton .rbSplitLeft:focus,
.RadButton_cloud.rbLinkButton .rbSplitLeft:active
{
	background-color: #25a0da;
	border-right: 1px solid #e5e5e5;
}

.RadButton_cloud.rbSkinnedButton,
.RadButton_cloud.rbVerticalButton,
.RadButton_cloud .rbDecorated
{
	background-color: #fff;
	color: #767676;
}

.RadButton_cloud.rbSkinnedButton,
.RadButton_cloud.rbVerticalButton
{
	border: 1px solid #e5e5e5;
}

*html .RadButton_cloud.rbSkinnedButton,
*html .RadButton_cloud.rbVerticalButton
{
	border: 1px solid #e5e5e5 !important;
}

.RadButton_cloud.rbSkinnedButton:hover,
.RadButton_cloud.rbVerticalButton:hover,
.RadButton_cloud:hover .rbDecorated
{
	color: #000;
	background-color: #e5e5e5;
}

.RadButton_cloud.rbSkinnedButton:hover,
.RadButton_cloud.rbVerticalButton:hover
{
	border: 1px solid #e5e5e5;
}

.RadButton_cloud.rbSkinnedButton:active,
.RadButton_cloud.rbVerticalButton:active,
.RadButton_cloud.rbSkinnedButton:active .rbDecorated,
.RadButton_cloud.rbVerticalButton:active .rbDecorated,
.RadButton_cloud.rbPressedButton.rbSkinnedButton,
.RadButton_cloud.rbPressedButton .rbDecorated
{
	background-color: #25a0da;
	color: #fff;
}

.RadButton_cloud.rbSkinnedButton:active,
.RadButton_cloud.rbVerticalButton:active
{
	border: 1px solid #25a0da;
}

.RadButton_cloud.rbSkinnedButtonChecked,
.RadButton_cloud.rbSkinnedButtonChecked:hover,
.RadButton_cloud.rbSkinnedButtonChecked .rbDecorated,
.RadButton_cloud.rbSkinnedButtonChecked:hover .rbDecorated
{
	background-color: #25a0da;
	border: 1px solid #25a0da;
}

.RadButton_cloud .rbToggleCheckbox,
.RadButton_cloud .rbToggleCheckboxChecked,
.RadButton_cloud .rbToggleCheckboxFilled,
.RadButton_cloud .rbToggleRadio,
.RadButton_cloud .rbToggleRadioChecked
{
		background-image: url('Button/ToggleSprite.gif');
}

.RadButton_cloud.rbToggleButton,
.RadButton_cloud.rbToggleButton.rbDisabled,
.RadButton_cloud.rbToggleButton.rbDisabled:hover
{
	color: #000;
}

.RadButton_cloud.rbDisabled .rbDecorated,
.RadButton_cloud.rbDisabled:hover .rbDecorated,
.RadButton_cloud.rbToggleButton:hover
{
	color: #6a6a6a;
}

a.RadButton_cloud.rbLinkButton
{
	border: 1px solid #e5e5e5;
	text-decoration: none;
	color: #767676;
}

.RadButton_cloud.rbLinkButton:hover
{
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
	color: #000;
}

.RadButton_cloud.rbLinkButton:active,
a.RadButton_cloud.rbLinkButtonChecked,
.RadButton_cloud.rbLinkButtonChecked:hover
{
	background-color: #25a0da;
	border: 1px solid #25a0da;
	color: #fff;
}

.RadButton_cloud.rbSkinnedButton,
.RadButton_cloud .rbDecorated
{
	height: 20px;
}

.RadButton_cloud.rbSkinnedButton.rbDisabled,
.RadButton_cloud.rbVerticalButton.rbDisabled,
.RadButton_cloud.rbLinkButton.rbDisabled,
.RadButton_cloud.rbLinkButton.rbDisabled:hover
{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	color: #e5e5e5;
	cursor: default;
}

.RadButton_cloud.rbSkinnedButton.rbDisabled .rbDecorated,
.RadButton_cloud.rbVerticalButton.rbDisabled:hover .rbDecorated,
.RadButton_cloud.rbLinkButton.rbDisabled,
.RadButton_cloud.rbLinkButton.rbDisabled:hover
{
	background-color: #fff;
	color: #767676;
}

/* IE6 Fix, should be important to override the joint selectors */
*html .RadButton_cloud.rbLinkButton,
*html .RadButton_cloud.rbLinkButton:hover
{
	border: 1px solid #eee !important;
}

/* Disabled */
.RadButton_cloud.rbDisabled,
.RadButton_cloud.rbDisabled .rbToggleCheckbox, 
.RadButton_cloud.rbDisabled .rbToggleCheckboxChecked, 
.RadButton_cloud.rbDisabled .rbToggleRadio, 
.RadButton_cloud.rbDisabled .rbToggleRadioChecked, 
.RadButton_cloud.rbDisabled .rbToggleCheckboxFilled 
{
	opacity: .8;
}
