/**
 * Menu Metro Skin
 */




/*----------------------------------------------------------------------------*/




/** Global wrapper */
.RadMenu_cloud {
	color: #767676;
	font: normal 11px/20px "Segoe UI", Arial, sans-serif;
	text-transform: uppercase;
}




/** Menu Group */
.RadMenu_cloud .rmGroup {
	padding: 0 2px;
}




	/** Menu Root Group */
	.RadMenu_cloud .rmRootGroup,
	.RadMenu_cloud ul.rmRootScrollGroup {
		padding: 1px;
		background-color: #25a0da;
	}




	/** Menu Sub Group */
	.RadMenu_cloud .rmGroup,
	.RadMenu_cloud .rmMultiColumn,
	.RadMenu_cloud .rmGroup .rmVertical {
		border: 1px solid #e5e5e5;
		background-color: #ffffff;
	}


		.RadMenu_cloud .rmScrollWrap > .rmVertical {
			border: 0;
		}




	/** Menu Horizontal */
	.RadMenu_cloud .rmHorizontal {}




	/** Menu Horizontal */
	.RadMenu_cloud .rmVertical {}




/** Menu Group */
.RadMenu_cloud .rmScrollWrap {
	padding: 1px;
}


	.RadMenu_cloud .rmLevel1.rmScrollWrap {
		margin-top: 2px;
	}




/** Menu Item */
.RadMenu_cloud .rmItem {}




	/** Sub Item  */
	.RadMenu_cloud .rmGroup .rmItem {}




/** Menu Link */
.RadMenu_cloud .rmLink {
	text-decoration: none;
}




	/** Menu Root Link */
	.RadMenu_cloud .rmRootLink {
		padding: 0 10px;
		border: 1px solid #25a0da;
		color: #ffffff;
		font-size: 14px;
		text-transform: lowercase;
	}
	.RadMenu_cloud .rmRootLink:hover {
		border-color: #92cfec;
	}


	.RadMenu_cloud .rmFocused,
	.RadMenu_cloud .rmFocused:hover,
	.RadMenu_cloud .rmSelected,
	.RadMenu_cloud .rmSelected:hover {
		border-color: #ffffff;
	}


	.RadMenu_cloud .rmDisabled,
	.RadMenu_cloud .rmDisabled:hover {
		border-color: #25a0da;
		color: #8aceec;
	}




	/** Menu Sub Link */
	.RadMenu_cloud .rmGroup .rmLink {
		margin: 1px 0;
		border: 0;
		color: #767676;
	}
	.RadMenu_cloud .rmGroup .rmLink:hover {
		color: #000000;
		background-color: #e5e5e5;
	}


	.RadMenu_cloud .rmGroup .rmFocused,
	.RadMenu_cloud .rmGroup .rmFocused:hover,
	.RadMenu_cloud .rmGroup .rmSelected,
	.RadMenu_cloud .rmGroup .rmSelected:hover,
	.RadMenu_cloud .rmGroup .rmExpanded,
	.RadMenu_cloud .rmGroup .rmExpanded:hover {
		color: #ffffff;
		background-color: #25a0da;
	}


	.RadMenu_cloud .rmGroup .rmDisabled,
	.RadMenu_cloud .rmGroup .rmDisabled:hover {
		color: #cccccc;
		background-color: transparent;
	}




/** Menu Text */
.RadMenu_cloud .rmText {
	padding: 0;
}




	/** Menu Root Link */
	.RadMenu_cloud .rmRootLink .rmText {
		padding: 0;
	}
	
	
	.RadMenu_cloud .rmVertical .rmRootLink .rmExpandRight,
	.RadMenu_cloud .rmVertical .rmRootLink .rmExpandLeft {
		background-image: none;
	}


	.RadMenu_cloud .rmGroup .rmText {
		padding-right: 53px;
	}
	.RadMenu_cloud .rmGroup .rmHorizontal .rmText {
		padding-right: 10px;
	}


	/***/
	.RadMenu_cloud .rmVertical .rmText {
		padding-right: 30px;
	}



	/** RTL */
	.RadMenu_cloud_rtl .rmVertical .rmText {
		padding-left: 30px;
	}




/** Menu Image */
.RadMenu_cloud .rmLeftImage,
.RadMenu_cloud .rmLeftImage
{
	margin: 2px 2px 0 0;
	padding-bottom: 3px;
}


	.RadMenu_cloud .rmGroup .rmLeftImage
	{
		margin: 2px 0 0 6px;
		*margin: 2px 0 0 3px;
	}





/*----------------------------------------------------------------------------*/





.RadMenu_cloud .rmVertical .rmExpandRight,
.RadMenu_cloud .rmVertical .rmExpandLeft,
.RadMenu_cloud .rmGroup .rmExpandRight,
.RadMenu_cloud .rmGroup .rmExpandLeft,
.RadMenu_cloud .rmTopArrow,
.RadMenu_cloud .rmBottomArrow,
.RadMenu_cloud .rmLeftArrow,
.RadMenu_cloud .rmRightArrow
{
	background: transparent url('Menu/rmExpandArrows.png') no-repeat;
}
.RadMenu_cloud .rmLeftArrow,
.RadMenu_cloud .rmRightArrow {
	height: 25px;
}


.RadMenu_cloud .rmVertical .rmExpandRight,
.RadMenu_cloud .rmGroup .rmExpandRight { background-position: 100% 0; }

.RadMenu_cloud a.rmFocused .rmExpandRight,
.RadMenu_cloud a.rmSelected .rmExpandRight,
.RadMenu_cloud a.rmExpanded .rmExpandRight { background-position: 100% -24px; }


.RadMenu_cloud .rmVertical .rmExpandLeft,
.RadMenu_cloud .rmGroup .rmExpandLeft { background-position: 0 -48px; }

.RadMenu_cloud a.rmFocused .rmExpandLeft,
.RadMenu_cloud a.rmSelected .rmExpandLeft,
.RadMenu_cloud a.rmExpanded .rmExpandLeft { background-position: 0 -72px; }


.RadMenu_cloud .rmTopArrow,
.RadMenu_cloud .rmBottomArrow,
.RadMenu_cloud .rmLeftArrow,
.RadMenu_cloud .rmRightArrow
{
	background-color: #ffffff;
}
.RadMenu_cloud .rmTopArrow:hover,
.RadMenu_cloud .rmBottomArrow:hover,
.RadMenu_cloud .rmLeftArrow:hover,
.RadMenu_cloud .rmRightArrow:hover {
	background-color: #e5e5e5;
}

.RadMenu_cloud .rmTopArrow
{
	border-bottom: 1px solid #e5e5e5;
	background-position: 50% -95px;
}

.RadMenu_cloud .rmBottomArrow
{
	border-top: 1px solid #e5e5e5;
	background-position: 50% -109px;
}

.RadMenu_cloud .rmLeftArrow
{
	border-right: 1px solid #e5e5e5;
	background-position: 50% -48px;
}

.RadMenu_cloud .rmRightArrow
{
	border-left: 1px solid #e5e5e5;
	background-position: 50% 1px;
}

.RadMenu_cloud .rmVertical li.rmSeparator,
.RadMenu_cloud .rmHorizontal .rmVertical li.rmSeparator
{
	border-left: 0;
	border-right: 0;
}

.RadMenu_cloud .rmVertical li.rmSeparator .rmText,
.RadMenu_cloud .rmHorizontal .rmVertical li.rmSeparator .rmText
{
	margin-top: 2px;
	padding-bottom: 1px;
	background-color: #e5e5e5;
}

.RadMenu_cloud .rmHorizontal li.rmSeparator .rmText,
.RadMenu_cloud .rmVertical .rmHorizontal li.rmSeparator .rmText
{
	margin-right: 1px;
	margin-left: 1px;
	padding: 0;
	width: 1px;
	background-color: #e5e5e5;
}

/* <rtl> */

.RadMenu_cloud_rtl .rmGroup,
.RadMenu_cloud_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_cloud_rtl .rmGroup .rmItem a.rmLink .rmText
{
	padding-left: 53px;
	padding-right: 27px;
}

.RadMenu_cloud_rtl .rmGroup .rmHorizontal a.rmLink .rmText
{
	padding-left: 10px;
	padding-right: 9px;
}

/* </rtl> */

/* </RadMenu / Simple> */



.RadMenu_cloud ul.rmLevel1.rmVertical {
	margin-top: 2px;
}


/*----------------------------------------------------------------------------*/




/** Hide */
.RadMenu_cloud .rmTopFix,
.RadMenu_cloud .rmTopLeft,
.RadMenu_cloud .rmTopRight,
.RadMenu_cloud .rmBottomFix,
.RadMenu_cloud .rmBottomLeft,
.RadMenu_cloud .rmBottomRight {
	display: none;
}